


.info-section {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 93vh;
  background-color: aquamarine;
  img {
    border-radius: 50%;
    align-self: center;
    animation: spin 1.5s linear;
    margin-bottom: 5vh;
  }
  p {
    margin-bottom: 5vh;
    text-align: center;
    font-size: 20px;
  }
}

.icons img {
  transition: transform .2s;
  margin: 10px;
  &:hover {
    transform: scale(1.25);
  }
}


.youtube-section {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
  height: 93vh;
}

.youtube-header {
  border-bottom: 2px solid aquamarine;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 5vh;
  animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) 0.5s both;
  @keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
}