.nav {
  background: black;
  color: white;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid aquamarine;
    a {
      &:visited {
        color: white;
      }
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
    li {
      padding: 20px;
      list-style: none;
      margin-right: 3px;
      &:hover {
        background-color: rgba(aquamarine, 0.7);
        //background-color: rgba(white, 0.1);
        cursor: pointer;
      }
    }
}