* {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; }
  .grid-container .row::before, .grid-container .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid-container [class*='col-'] {
    float: none;
    width: 100%;
    min-height: 1px;
    padding: 12px; }
    @media (min-width: 550px) {
      .grid-container [class*='col-'] {
        float: left; } }
  @media (min-width: 550px) {
    .grid-container .col-1 {
      width: 8.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-2 {
      width: 16.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-3 {
      width: 25%; } }
  @media (min-width: 550px) {
    .grid-container .col-4 {
      width: 33.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-5 {
      width: 41.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-6 {
      width: 50%; } }
  @media (min-width: 550px) {
    .grid-container .col-7 {
      width: 58.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-8 {
      width: 66.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-9 {
      width: 75%; } }
  @media (min-width: 550px) {
    .grid-container .col-10 {
      width: 83.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-11 {
      width: 91.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-12 {
      width: 100%; } }

.nav {
  position: sticky;
  background: black;
  color: white;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100; }
  .nav a {
    text-decoration: none; }
    .nav a:visited {
      color: white; }
    .nav a:hover {
      cursor: pointer; }
  .nav li {
    padding: 15px;
    list-style: none;
    margin-right: 10px; }
    .nav li:hover {
      background-color: rgba(127, 255, 212, 0.7);
      cursor: pointer; }

.front {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: -100; }

.background-holder {
  color: black;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .background-holder h1 {
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 50px;
    border-bottom: 3px solid aquamarine; }
  .background-holder h2 {
    font-size: 30px;
    font-style: italic; }

.slide-left {
  -webkit-animation: slide-left 1s both;
  animation: slide-left 3s both; }
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid white;
  background-color: transparent;
  width: 300px;
  height: 80px;
  margin-top: 100px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all; }
  .button:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: aquamarine;
    z-index: -2; }
  .button:hover {
    color: white;
    cursor: pointer; }
    .button:hover:before {
      -webkit-transition: 0.8s all ease;
      transition: 0.8s all ease;
      left: 0;
      right: 0;
      opacity: 1; }

.slash-style {
  color: aquamarine; }

.info-section {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 93vh;
  background-color: aquamarine; }
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
  .info-section img {
    border-radius: 50%;
    align-self: center;
    animation: spin 1.5s linear;
    margin-bottom: 5vh; }
  .info-section p {
    margin-bottom: 5vh;
    text-align: center;
    font-size: 20px; }

.icons img {
  transition: transform .2s;
  margin: 10px; }
  .icons img:hover {
    transform: scale(1.25); }

.youtube-section {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
  height: 93vh; }
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
.youtube-header {
  border-bottom: 2px solid aquamarine;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 5vh;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both; }
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
.projects-holder {
  height: 93vh;
  background-color: aquamarine; }

/*# sourceMappingURL=App.css.map */
